<html lang="en">
<head>
    <title>
        {{- /*gotype: xobotyi.github.io/go/go-vanity-ssg/internal/template.indexData*/ -}}
        {{.Title}}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap" rel="stylesheet">

    <style>
        html {
            font-size: 16px;
            font-family: "Fira Mono", monospace;
            background: #232323;
            color: #fafafa;
        }

        a {
            color: #2169D6;
        }

        a:hover, a:focus {
            color: #ccc;
        }

        body {
            padding: 3rem 0;
        }

        table {
            width: 100%;
            max-width: 70rem;
            margin: 0 auto;
            border-spacing: unset;
            table-layout: fixed;
        }

        thead td {
            padding-bottom: 1rem;
            color: #ccc;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 700;
        }

        tbody > tr > td {
            padding: 1rem 0;
        }

        tbody > tr + tr > td {
            border-top: 1px solid #555;
        }

        .package-fqn {
            display: flex;
            align-items: center;
            font-weight: 700;
        }

        .package-private {
            line-height: 1rem;
            font-size: .75rem;
            border-radius: .25rem;
            background: #488648;
            color: #eee;
            padding: .125rem .5rem;
            margin-left: 1rem;
        }

        .package-description {
            margin-top: .5rem;
            color: #9a9a9a;
            font-size: .75rem;
        }

        .cell-src {
            font-size: .75rem;
            vertical-align: bottom;
        }

        .cell-docs {
            vertical-align: bottom;
        }

        .swags {
            display: inline-flex;
            gap: .25rem;
            width: 100%;
            justify-content: flex-end;
            flex-wrap: wrap;
        }

        .credits {
            width: 100%;
            text-align: center;
            color: #555;
            margin-top: 5rem;
            font-size: .75rem;
        }

        .credits a {
            color: inherit;
        }
    </style>
</head>

<body>
<table>
    <thead>
    <tr>
        <td width="45%">Package</td>
        <td width="35%">Sources</td>
    </tr>
    </thead>
    <tbody>
    {{range .Packages}}
        <tr>
            <td class="cell-info">
                <div class="package-fqn">
                    <span>{{.FQN}}</span>
                    {{if .Package.PrivateSource }}
                        <span class="package-private">private</span>
                    {{end}}
                </div>
                <div class="package-description">{{.Package.Description}}</div>
            </td>
            <td class="cell-src"><a href="{{.Package.Source.VcsURI}}">{{.Package.Source.VcsURI}}</a></td>
            <td class="cell-docs">
                <div class="swags">
                    {{range .Package.Source.Swag}}
                        {{. | unescapeHTML}}
                    {{end}}
                    <a href="https://pkg.go.dev/{{.FQN}}"><img src="https://pkg.go.dev/badge/{{.FQN}}.svg"
                                                               alt="Go Reference"></a>
                </div>
            </td>
        </tr>
    {{end}}
    </tbody>
</table>

<div class="credits">Generated with <a
            href="https://xobotyi.github.io/go/go-vanity-ssg">xobotyi.github.io/go/go-vanity-ssg</a></div>
</body>
</html>