<html>
<head>
    <title>
        {{- /*gotype: github.com/xobotyi/go-vanity-ssg/internal/config.Package*/ -}}
        {{.Name}}
    </title>
    <meta name="go-import" content="{{.Name}} {{.Source.VcsType}} {{.Source.VcsURI}}">
    <meta name="go-source"
          content="{{.Name}} {{.Source.URI}} {{.Source.DirURI}} {{.Source.FileURI}}">
    <meta http-equiv="refresh" content="0; url=https://pkg.go.dev/{{.Name}}">
</head>
<body>
Nothing to see here. Please <a href="https://pkg.go.dev/{{.Name}}">move along</a>.
</body>
</html>